footer {
    margin-top: 150px;
}
.footer-wrapper {
    display: flex;
    padding: 100px 0 90px;
    border-top: 1px solid rgba(188,208,229,0.496913);
}
.footer-list {
    flex: 1;
    display: flex;
    height: 145px;
    flex-wrap: wrap;
    padding: 0 90px;
    flex-direction: column;
}
.footer-list li {
    list-style: none;
    padding-right: 115px;
}
.footer-list a {
    font-size: 16px;
    color: #544837;
    line-height: 219%;
}
.footer-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer-form input {
padding: 11px 15px;
border-radius: 4px;
border: 1px solid #bcd0e5;
}
.footer-form .btn {
    margin-top: 20px;
}